@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aktiv Grotesk";
  src: url("../public/AktivGroteskCorp-Regular.ttf");
}

body {
  font-family: "Sora", sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #323232;
}

p {
  color: #8a8a8a;
  font-family: "Aktiv Grotesk";
}

@layer components {
  .heading2 {
    @apply text-center text-4xl font-semibold;
  }

  .btn {
    @apply inline-block rounded-lg py-2 px-4 font-sora transition;
  }

  .btn-primary {
    @apply bg-primaryBg text-white shadow-md hover:bg-[#12488D] focus:outline-none focus:ring-2 focus:ring-[#12488D] focus:ring-opacity-75;
  }

  .btn-secondary {
    @apply border border-[#8A8A8A] hover:border-[#323232];
  }
}

@layer utilities {
  .container {
    width: 90%;
    margin-inline: auto;
    max-width: 1280px;
  }
}
